*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: fangsong;
  color: #212121;
  background-image: url(../img/grey.jpg);
}

img {
  max-width: 300px;
  height: auto;
}

.search-form {
  display: flex;
  justify-content: center;
  height: 40px;
  margin: 2% auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.input {
  border-radius: 8px;
  padding: 5px;
  margin-right: 20px;
}

.search {
  border-radius: 8px;
  padding: 5px;
}

.tittle {
  font-family: fangsong;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  gap: 30px;
  margin-bottom: 30px;
}

.stats {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.stats-item {
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.photo-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(45deg, #8fcedd66, transparent);
  box-shadow: 0 -9px 20px 2px;
}

.load-more {
  font-family: fangsong;
  display: block;
  justify-content: center;
  margin: 4% auto;
  border-radius: 8px;
  padding: 5px;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 60px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
  color: #444;
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

.back_to_top:hover {
  background: #e9ebec;
}

.back_to_top-show {
  display: block;
}

.modal {
  background-color: rgba(247, 252, 252, 0.979);
  padding: 100px;
}